<Grid Item ExtraSmall="@GridSize.Twelve">
    <Grid Container Spacing="@Skclusive.Core.Component.Spacing.Five">
        <Grid Container Item ExtraSmall="@GridSize.Six" Small="@GridSize.Three">
            <Box Width="100%" class="promo-box">
                <NavLink href="#" className="link">
                    <Paper class="paper red" Square>
                        <div class="promo-text">
                            <div>
                                <PageviewIcon FontSize="@FontSize.Large" />
                            </div>
                            <Typography class="promo-card-title">Documentation</Typography>
                            <Typography Variant="@TypographyVariant.Caption" Align="@Align.Center">Learn more about Sitecore Experience Edge</Typography>
                        </div>
                    </Paper>
                </NavLink>
            </Box>
        </Grid>
        <Grid Container Item ExtraSmall="@GridSize.Six" Small="@GridSize.Three">
            <Box Width="100%" class="promo-box">
                <NavLink href="#" className="link">
                    <Paper class="paper blue" Square>
                        <div class="promo-text">
                            <div>
                                <GitHubIcon FontSize="@FontSize.Large" />
                            </div>
                            <Typography class="promo-card-title">Quick Start</Typography>
                            <Typography Variant="@TypographyVariant.Caption" Align="@Align.Center">
                                Let us help you get your first app up and running
                            </Typography>
                        </div>
                    </Paper>
                </NavLink>
            </Box>
        </Grid>
        <Grid Container Item ExtraSmall="@GridSize.Six" Small="@GridSize.Three">
            <Box Width="100%" class="promo-box">
                <NavLink href="#" className="link">
                    <Paper class="paper teal" Square>
                        <div class="promo-text">
                            <div>
                                <GitHubIcon FontSize="@FontSize.Large" />
                            </div>
                            <Typography class="promo-card-title">Starter Kits</Typography>
                            <Typography  Variant="@TypographyVariant.Caption" Align="@Align.Center">Use our examples and try it out yourself</Typography>
                        </div>
                    </Paper>
                </NavLink>
            </Box>
        </Grid>
        <Grid Container Item ExtraSmall="@GridSize.Six" Small="@GridSize.Three">
            <Box Width="100%" class="promo-box">
                <NavLink href="#" className="link">
                    <Paper class="paper purple" Square>
                        <div class="promo-text">
                            <div>
                                <FolderIcon FontSize="@FontSize.Large" />
                            </div>
                            <Typography class="promo-card-title">What's New</Typography>
                            <Typography  Variant="@TypographyVariant.Caption" Align="@Align.Center">Read about latest updates in our change log</Typography>
                        </div>
                    </Paper>
                </NavLink>
            </Box>
        </Grid>
    </Grid>
</Grid>